@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  counter-reset: lineNumber;
  content: counter(lineNumber);
  counter-increment: lineNumber;
}

/* More Syntax Highlight */

pre {
  counter-reset: lineNumber;
}

code .highlight-line:before {
  position: sticky; /*added*/
  left: 0; /*added*/
  background: var(--code-bg); /*added*/

  user-select: none;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  color: hsla(0, 100%, 100%, 0.6);
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2rem;
  text-align: center;
  width: 3em;
}