---
layout: default
title: SS Mac Admin
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="macOS">macOS</abbr>
    admin
    <code class="bg-gray-100 text-blue-800 p-1">blog</code>
  </p>

  {% include "./_includes/partials/content.html" %}

  <section class="mt-15">
  {% set postslist = collections.post %}

  {% for post in postslist limit: 5 | reverse %}
  <article class="my-8">
      <h2 class="font-bold text-3xl mb-2">
          <a href="{{ post.url | url }}">
              {% if post.data.title %}
                  {{ post.data.title }}
              {% else %}
                  Untitled
              {% endif %}
          </a>
      </h2>
  </article>
  {% endfor %}
  </section>
</div>